# Environment
.env
.venv-pdf-generator/
*service-account*.json
client_secret*.json
token.json
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.idea/
.vscode/

# Build / dist
*.egg-info/
dist/
build/

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db
